# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environment
# ===============================
venv/
env/
.venv/

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example
.env.example
# ===============================
# Django
# ===============================
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# ===============================
# Flask
# ===============================
instance/
.webassets-cache

# ===============================
# Migrations cache
# ===============================
migrations/__pycache__/

# ===============================
# Testing / Coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# VS Code
# ===============================
.vscode/
!.vscode/extensions.json

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Build / Distribution
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Logs
# ===============================
logs/
*.log
